@use 'variaveis';
body{
    background-color: variaveis.$corprincipal;
    h1{
        text-align: center;
        color: white;
        background-color: rgb(48, 48, 48);
        padding: 20px;
        border-radius: 10px;
    }
}